<%= form_tag({:action => 'forgot_password_mail'}, {:name => 'multi', :id => 'forget_form'}) do %>
    <div class="password_text"> To reset your password, submit your email address, then follow the reset password link
      sent to your email address.
    </div>
    <div class="common_button_parent">
      <div class="form_data">
        <label for="text_head" class="login_forgot">Email address </label>
        <%= text_field "user", "email", :class => "input_text" %>
      </div>
      <!--form_data-->
      <div class="button button_new">
        <!--<a class="submit_forget" href="javascript:void(0)">Submita</a>-->
        <a href="javascript:void(0);" onclick="forgot_password();">Submit</a>
      </div>
      <div class="button button_new">
        <a href="javascript:void(0);" onclick="dialog_close();">Cancel</a>
      </div>
    </div>



    <tr>
      <td colspan='2' style="text-align: center;">
        <%= content_tag(:div, flash[:error], :class => 'errorExplanation') %>
      </td>
    </tr>


<% end %>


 <script type="text/javascript">
       function forgot_password(){
                        var email_id = $('#user_email').attr('value');
           if (email_id == "" || email_id == null){
               alert("Email id cant be blank")
           }
           else if(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/.test(email_id)){
                        $.ajax({
                                type:'GET',
                                url: $('#forget_form').attr('action'),
                                data:'user[email]='+email_id,
                                dataType:'text',
                                success:function(data){
                                        //$('.ui-dialog').dialog('close');
                                        $('#forget_password_dialog').dialog( "destroy" );
                                }
                        });
           }
           else{
               alert("Email address format is not valid");
           }
       }

       function dialog_close(){
            $('#forget_password_dialog').dialog( "destroy" );
       }
</script>

<!--<script type="text/javascript">
    function forgot_password() {
        var email_id = $('#user_email').attr('value');
        var email_id = $('#user_email').attr('value');
        if (email_id == "") {
            alert("Please provide email id");
            return false;
        }
        else {
            $.ajax({
                type: 'GET',
                url: $('#forget_form').attr('action'),
                data: 'user[email]=' + email_id,
                dataType: 'text',
                success: function (data) {
                    //$('.ui-dialog').dialog('close');
                    $('#forget_password_dialog').dialog("destroy");
                }
            });
        }
    }
    function dialog_close() {
        $('#forget_password_dialog').dialog("destroy");
    }
</script>-->
<style type="text/css">
    .common_button_parent {
        background: none repeat scroll 0 0 #4E4E4E;
        border: 1px solid #DDDDDD;
        border-radius: 5px 5px 5px 5px;
        margin: 0px auto;
        padding: 22px 10px 10px;
        width: 350px;
        /*margin-top: 8px;
        margin-left: 0px;*/
    }

    .login_forgot {
        width: 85px !important;
        color: #FFFFFF !important;
    }

    .password_text {
        font-size: 12px;
        margin-top: 28px;
    }

</style>

