<div class="right_section_head">

<div class = "common_listing_button">
<ul>
    <li class="button">

  <!-- <div class = "adminLinkButton">-->
      <%= link_to('New redirect', { :controller => 'admin/all_redirects', :action => 'new'})%>
 </li>
</ul>
</div>

</div>

