<div class="right_section_head">
	<div class="common_listing_button">
		<ul>
			<li class="button">
				<%= link_to('New Product', :controller=>'admin/products', :action => 'new_product')  %>
			</li>
		</ul>
	</div>
</div>
