/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */



/* Autocompleter */
div.form_data > div.facebook-auto { display: none; position: absolute; width: 265px !important; background: #eee; z-index:1001;margin-left:120px;}

.facebook-auto { display: none; position: absolute; width: 266px!important; background: #eee; z-index:1001;/*margin-left: 42px;*/}
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}


#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}

/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder { margin: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8!important; padding: 1px 5px 2px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 0px 0px;  margin: 10px 0px;} /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */      
ul.holder { width: 500px; }
ul.holder { margin: 0 !important; width: 253px !important; }
ul.holder li.bit-box, #apple-list ul.holder li.bit-box {    margin-right: 5px !important;padding-right: 15px;position: relative;width: auto !important;z-index: 1000;}
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
/*ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('/images/close.gif'); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }*/


/* Autocompleter */

facebook-auto { display: none; position: absolute; width: 297px; background: #eee; z-index:1001;}
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
.facebook-auto ul { padding: 0 !important;    border: medium none !important; display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}

#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}

.title_display{
  background: none repeat scroll 0 0 #FFFACD;
    font-weight: bold;
    height: 16px;
    position: relative;
    width: auto;
    border:2px solid #B22222;
  
}


.article_source_section_new{float:left;margin-left: 65px;margin-bottom: 10px;}
.article_source_new{float:left;   margin-right: 20px;position:relative;
    }
.article_section_new{float:left;}
.article_source_new label{/*float:left;*/width:90px;text-align: right;}
.article_source_new ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #92B2D6;
    float: left;
    height: auto !important;
    padding: 5px;
    width: 225px !important;}
.tags_authors_new{ clear: both;	float: left;margin-left:65px; margin-bottom: 10px;}
.article_author_new{float:left;}
.article_tags_new{/*float:left;*/margin-right: 20px;}
.article_primary_medium_new{float:left;clear:both;margin-left:65px; margin-bottom: 10px;}
.article_pbl_exp{float:left;clear:both;margin-left:65px;}
.article_add_new_button{float:left;clear:both;  margin-top: 10px;
    width: 55%;}
.article_section_new label{/*float:left;*/width:90px;text-align: right;}
.article_section_new ul {float:left;  width: 225px !important;padding:5px !important;border:1px solid #92B2D6 !important;}
.article_section_new ul li {/*padding:0px !important;background-color: #FFFFFF !important; margin: 0 !important;
    width: 100% !important;  width: 100% !important;*/}
.article_tags_new label{/*float:left;*/width:90px;text-align: right;}
.article_tags_new ul {border: 1px solid #92B2D6 !important;float: left;padding:5px !important;width: 225px !important;	}
.article_tags_new ul li {/*padding:0px !important;background-color: #FFFFFF !important; margin: 0 !important;width: 100% !important;  width: 100% !important;*/}
.article_author_new label {/*float:left;*/width:90px;text-align: right;}
.article_author_new ul { background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #92B2D6;float: left;height: auto !important;padding: 5px;width: 225px !important;}
.article_author_new ul li  {/*padding:0px !important;background-color: #FFFFFF !important; margin: 0 !important;width: 100% !important;  width: 100% !important;*/}
.article_primary_medium_new label{/*float:left;*/width:90px;}
.article_primary_medium_new ul {float:left;  width: 225px !important;padding:5px !important;border:1px solid #92B2D6 !important;} 
.article_primary_medium_new ul li  {/*padding:0px !important;background-color: #FFFFFF !important; margin: 0 !important;
    width: 100% !important;  width: 100% !important;*/}
.article_pbl_exp label {float:left; width: 90px;}
.article_pbl_exp input {float:left;width:223px;border-color: #92B2D6;}
.article_pbl_exp img{float:left;}
.article_ppl {float:left;margin-right: 10px;}
.article_exp {float:left;margin-right: 19px; }
.article_ppl img{padding-left:5px;}
.article_exp img{padding-left:5px;}



/*.article_add_new_button a {background: url("/images/new_button/button_right_bg.jpg") no-repeat scroll right center transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
    padding: 7px 10px 7px 4px;}*/
    
.article_advanced_search{    background-color: #D9E5E9;
    float: left;
    margin-bottom: -11px;
    margin-top: 14px;
    padding-left: 8px;
    width: 99.5%;
    padding-top: 15px;
   padding-bottom:10px;  
   padding-right: 7px;
}
.article_advanced_search label{font-size: 1.2em;padding-right: 5px;}               
.article_advanced_search .article_add_new_button {text-align: center;width: 100%;} 
.article_source_new .facebook-auto{   bottom: 0;
    left: 95px;
    width: 237px !important;}

iframe body{background:none !important;}
/*new styles for article page advance search*/
.new_article_advance_search {/*border-radius:10px;*/border:1px solid #ddd;/*background-color:#fff !important;*/width:99% !important;}
.row_of_article_info { float: left;    margin: 10px 50px;    padding-bottom:0px;    text-align: center;    width: 878px;}
.article_left_infos {float:left;width:380px;margin-right:20px;}
.article_rgt_infos {float:right;width:380px;}
.article_left_infos label {width:100px;float: left;text-align: left;margin-left: 0px; } 
.article_rgt_infos label {width:100px;float: left;text-align: left;margin-left: 0px;}
.article_left_infos .facebook-auto {
   left: 105px;
}
.article_advanced_search .article_pbl_exp .article_ppl .hasDatepicker{height:23px;}
.article_advanced_search .article_pbl_exp .article_exp .hasDatepicker{height:23px;}

/*listing autocomplete features**/
#article_tag_ids_feed{width:266px!important;}
#article_category_ids_feed{width:266px!important;}
#search_data_campaign_ids_feed{width:266px!important;}
#directory_listing_category_site_ids_feed{width:266px!important;}
#advance_search_categories_feed{width:266px!important;}
#advance_search_locations_feed{width:266px!important;}
#user_user_ids_feed{width:266px!important;}
#asset_group_source_id_feed{width:266px!important;}
#asset_group_blog_ids_feed{width:266px!important;}
#asset_group_tag_ids_feed{width:266px!important;}
#asset_group_author_ids_feed{width:266px!important;}
#asset_group_section_ids_feed{width:266px!important;}
#asset_group_category_ids_feed{width:266px!important;}
#data_list_ranklist_feed{width:266px!important;}
#asset_condition_category_category_ids_feed{width:266px!important;}
#asset_condition_tag_tag_ids_feed{width:266px!important;}
#asset_condition_section_section_ids_feed{width:266px!important;}
#asset_condition_asset_category_asset_category_ids_feed{width:266px!important;}
#directory_listing_service_ids_feed{width:266px!important;}
#directory_listing_location_ids_feed{width:266px!important;}
#directory_listing_membership_ids_feed{width:266px!important;}
#directory_listing_directory_listing_category_ids_feed{width:266px!important;}
#author_category_ids_feed{width:266px!important;}
#container_container_ids_feed{width:266px!important;}
#author_site_ids_feed{width:266px!important;}
#product_asset_group_ids_feed{width:264px!important;}
#category_site_ids_feed{width:264px!important;}

div.form_data_user > div.facebook-auto{margin-left:42px;}

/*advance search*/
.tags_label{margin-right: 58px;}
.source_label{margin-right: 48px;}
.expiry_date_label{margin-left: 25px;}
.date_box input{ width: 227px!important;margin-left: 10px;}
.category_label{margin-left: 10px;}
.article_source_new ul{border: 1px solid #92B2D6 !important;padding: 5px !important;}

/*check boxes*/
#question_allow_others{margin-top: 3px;}
#author_profile_elected_to_speak{margin-top: 3px;}
#author_active{margin-top: 3px;}
#forum_moderation{margin-top: 3px;}
#componentproperty_cache,#componentproperty_hide_on_error,#componentproperty_errors_show_in_template,#componentproperty_hide_on_empty{margin-top: 4px;}
